* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}

section {
  scroll-margin-top: 64px; /* equal to navbar height */
}
.avatar {
  background-color: #d9d9d9;
}
.circle {
  margin-left: 56%;
}
@media (max-width: 630px) {
  .circle {
    margin-left: 58%;
  }
}

@media (max-width: 590px) {
  .circle {
    margin-left: 54%;
  }
}

@media (max-width: 380px) {
  .circle {
    margin-left: 55%;
  }
}

@media (max-width: 290px) {
  .circle {
    margin-left: 57%;
  }
}
